api.lms.localhost {
	reverse_proxy localhost:3000
}

app.lms.localhost {
	reverse_proxy localhost:5173
}

mailbox.lms.localhost {
	reverse_proxy localhost:8025
}

storage.articulate.localhost {
	reverse_proxy localhost:8069
}
