app.lms.localhost {
    reverse_proxy /api/* {
        to http://localhost:3000
    }

    handle {
        reverse_proxy localhost:5173
    }
}

mailbox.lms.localhost {
	reverse_proxy localhost:8025
}

storage.articulate.localhost {
	reverse_proxy localhost:8069
}
