@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-black: #121521;
    --color-white: #fcfcfc;

    --neutral-50: #f7f7f7;
    --neutral-100: #ededed;
    --neutral-200: #e5e5e5;
    --neutral-300: #c8c8c8;
    --neutral-400: #adadad;
    --neutral-500: #999999;
    --neutral-600: #888888;
    --neutral-700: #7b7b7b;
    --neutral-800: #676767;
    --neutral-900: #545454;
    --neutral-950: #363636;

    --primary-50: #f2f5fc;
    --primary-100: #e1eaf8;
    --primary-200: #cadaf3;
    --primary-300: #a6c3ea;
    --primary-400: #7ca3de;
    --primary-500: #5d84d4;
    --primary-600: #4f6fc9;
    --primary-700: #3f58b6;
    --primary-800: #384995;
    --primary-900: #342076;
    --primary-950: #222949;

    --secondary-50: #fcf5f4;
    --secondary-100: #fae9e6;
    --secondary-200: #f6d8d2;
    --secondary-300: #eebcb3;
    --secondary-400: #e39586;
    --secondary-500: #d4705d;
    --secondary-600: #c05642;
    --secondary-700: #a14534;
    --secondary-800: #853d2f;
    --secondary-900: #70372c;
    --secondary-950: #3c1a13;

    --success-50: #e6fbf5;
    --success-100: #d6f5e5;
    --success-200: #b0eacf;
    --success-300: #7cd9b4;
    --success-400: #46c194;
    --success-500: #26b183;
    --success-600: #168563;
    --success-700: #116b51;
    --success-800: #0e4637;
    --success-900: #05541;
    --success-950: #07271f;

    --error-50: #fff1f1;
    --error-100: #ffe0e1;
    --error-200: #ffc6c7;
    --error-300: #ff8f9a;
    --error-400: #ff686c;
    --error-500: #fb3b40;
    --error-600: #e9911e;
    --error-700: #c41116;
    --error-800: #a21216;
    --error-900: #861619;
    --error-950: #490608;

    --warning-50: #fefde8;
    --warning-100: #fffcc2;
    --warning-200: #fff687;
    --warning-300: #ffea43;
    --warning-400: #ffd91a;
    --warning-500: #febe03;
    --warning-600: #ce9300;
    --warning-700: #a46904;
    --warning-800: #88510b;
    --warning-900: #734210;
    --warning-950: #432205;

    --background: var(--color-white);
    --foreground: var(--color-black);
    --card: var(--color-white);
    --card-foreground: var(--color-black);
    --popover: var(--color-white);
    --popover-foreground: var(--color-black);
    --primary: var(--primary-800);
    --primary-foreground: var(--primary-50);
    --secondary: var(--primary-100);
    --secondary-foreground: var(--primary-800);
    --muted: var(--primary-100);
    --muted-foreground: var(--neutral-600);
    --accent: var(--primary-100);
    --accent-foreground: var(--primary-800);
    --destructive: var(--error-500);
    --destructive-foreground: var(--primary-50);
    --border: var(--neutral-200);
    --input: var(--neutral-200);
    --ring: var(--neutral-900);
    --radius: 0.5rem;
    --chart-1: var(--warning-400);
    --chart-2: var(--success-500);
    --chart-3: var(--primary-400);
    --chart-4: var(--secondary-400);
    --chart-5: var(--warning-500);
  }

  .dark {
    --background: var(--color-black);
    --foreground: var(--primary-50);
    --card: var(--color-black);
    --card-foreground: var(--primary-50);
    --popover: var(--color-black);
    --popover-foreground: var(--primary-50);
    --primary: var(--primary-50);
    --primary-foreground: var(--primary-800);
    --secondary: var(--neutral-950);
    --secondary-foreground: var(--primary-50);
    --muted: var(--neutral-950);
    --muted-foreground: var(--neutral-600);
    --accent: var(--neutral-950);
    --accent-foreground: var(--primary-50);
    --destructive: var(--error-700);
    --destructive-foreground: var(--primary-50);
    --border: var(--neutral-950);
    --input: var(--neutral-950);
    --ring: var(--neutral-800);
    --chart-1: var(--primary-500);
    --chart-2: var(--success-500);
    --chart-3: var(--error-400);
    --chart-4: var(--secondary-500);
    --chart-5: var(--error-500);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .h1 {
    @apply text-4xl font-bold leading-relaxed;
  }
  .h2 {
    @apply text-[32px] font-bold leading-relaxed;
  }
  .h3 {
    @apply text-[29px] font-bold leading-relaxed;
  }
  .h4 {
    @apply text-[26px] font-bold leading-relaxed;
  }
  .h5 {
    @apply text-[23px] font-bold leading-relaxed;
  }
  .h6 {
    @apply text-xl font-bold leading-relaxed;
  }
  .body-lg {
    @apply text-lg leading-relaxed;
  }
  .body-base {
    @apply text-base leading-relaxed;
  }
  .body-sm {
    @apply text-sm leading-relaxed;
  }
  .details {
    @apply text-xs leading-relaxed;
  }
  .body-lg-md {
    @apply text-lg leading-relaxed font-medium;
  }
  .body-base-md {
    @apply text-base leading-relaxed font-medium;
  }
  .body-sm-md {
    @apply text-sm leading-relaxed font-medium;
  }
  .details-md {
    @apply text-xs leading-relaxed font-medium;
  }
  .subtle {
    @apply text-sm leading-5;
  }
}

/* css for lesson-item question type presentation -> Presentation.tsx  */
/* ------- start ------- */
#msdoc-iframe {
  width: 100%;
  height: 40vw;
  border-radius: 8px;
}
/* ------- end --------- */

@supports (scrollbar-width: thin) {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: initial;
  }
}

@supports selector(::-webkit-scrollbar) {
  .scrollbar-thin::-webkit-scrollbar {
    width: 0.25rem;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }
}
